In [12]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy
import pandas as pd

In [4]:
meta = pd.read_pickle('metadata.pkl')

In [5]:
meta.describe()

                ra          dec
count  1235.000000  1235.000000
mean    226.411272     4.693666
std     102.554371    43.318841
min       0.532083   -79.646694
25%     173.355833   -30.220056
50%     266.563375     5.645278
75%     300.400542    43.899750
max     359.603292    89.264111

In [6]:
meta.head()

,object_name,tdt,ra,dec,full_classifier,group,subgroup,uncertainty_flag,note,,file_path,object_type,data_ok
0,W Cet,37802225,0.532083,-14.676639,2.SEa:,2,SEa,1,,,spectra/37802225_sws.pkl,S*,True
1,SV And,42801007,1.083333,40.110333,2.SEa:,2,SEa,1,,,spectra/42801007_sws.pkl,Mira,True
2,SV And,80800708,1.083333,40.110333,2.SEa,2,SEa,,,,spectra/80800708_sws.pkl,Mira,True
3,CIT 1,78201008,1.717917,43.076667,7,7,,,W,,spectra/78201008_sws.pkl,Mira,True
4,HR 10,37802001,1.825833,-17.387000,1.NM:,1,NM,1,,,spectra/37802001_sws.pkl,Star,True

In [29]:
for index, filename in enumerate(meta['file_path']):
    if index % 20 == 0:
        print(index)
    spec = pd.read_pickle(filename)
    plt.plot(spec.wavelength, spec.flux)
    plt.title(filename + ', data ok=' + str(meta['data_ok'][index]))
    plt.axhline(y=0, color='red', ls='--')
    plt.savefig('plots/' + filename.split('/')[-1] + '.pdf')    
    plt.close()
#     if index >= 10:
#         break

0
20
40
60
80
100
120
140
160
180
200
220
240
260
280
300
320
340
360
380
400
420
440
460
480
500
520
540
560
580
600
620
640
660
680
700
720
740
760
780
800
820
840
860
880
900
920
940
960
980
1000
1020
1040
1060
1080
1100
1120
1140
1160
1180
1200
1220

True